<mat-card>
  <mat-card-header>
    <mat-card-title>Add Book</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input [(ngModel)]="title" matInput/>
    </mat-form-field>


    <br>
    <mat-form-field>
      <mat-label>Editorial</mat-label>
      <input [(ngModel)]="editorial" matInput/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Edition</mat-label>
      <input [(ngModel)]="edition" matInput/>
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Position</mat-label>
      <input [(ngModel)]="position" matInput>
    </mat-form-field>

    <br>
    <div class="condition-container">
      <mat-label class="condition-container-label">Condition</mat-label>
      <mat-button-toggle-group [(ngModel)]="condition" class="condition-container-selector">
        <ng-container *ngFor="let i of [1,2,3,4,5]">
          <mat-button-toggle value={{i}}>
            <mat-icon *ngIf="i<=condition" class="star">star</mat-icon>
            <mat-icon *ngIf="i>condition" class="star">star_border</mat-icon>
          </mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
    </div>


    <br/><br/>
    <button (click)="addAuthor()" mat-button>Add Author</button>
  </mat-card-content>
</mat-card>
