<div class="container-xg row justify-content-center align-content-center">
  <mat-card class="col-10 ">

    <mat-card-content class="container-lg">
      <!--mat-card-title-group class="row justify-content-center">
        <mat-card-title class="col-4">Add Book</mat-card-title>


      </mat-card-title-group-->
      <div class="row">
        <mat-card-title class="col-12 text-center">Add Book</mat-card-title>
      </div>

      <hr>
      <div class="row align-items-center">
        <mat-form-field class="col-12">
          <mat-label>Title</mat-label>
          <input [(ngModel)]="title" matInput/>
        </mat-form-field>


      </div>
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Editorial</mat-label>
          <input [(ngModel)]="editorial" matInput/>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Edition</mat-label>
          <input [(ngModel)]="edition" matInput/>
        </mat-form-field>
      </div>

      <div class="row justify-content-between">
        <mat-form-field class="col-4">
          <mat-label>Position</mat-label>
          <input [(ngModel)]="position" matInput>
        </mat-form-field>


        <div class="col-6">

          <mat-label class="mw-100" id="condition-label">Condition</mat-label>

          <mat-button-toggle-group [(ngModel)]="condition">
            <ng-container *ngFor="let i of [1,2,3,4,5]">
              <mat-button-toggle value={{i}}>
                <mat-icon *ngIf="i<=condition" class="star">star</mat-icon>
                <mat-icon *ngIf="i>condition" class="star">star_border</mat-icon>
              </mat-button-toggle>
            </ng-container>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="row justify-content-center">
        <button class="col-3" mat-stroked-button type="submit"> Add Author</button>
      </div>

      <!--mat-table>
        <mat-header-row>
          <mat-header-cell>ID</mat-header-cell>
          <mat-header-cell>Name</mat-header-cell>
          <mat-header-cell>Last Name</mat-header-cell>
        </mat-header-row>
        <mat-row>
          <mat-cell>a</mat-cell>
          <mat-cell>b</mat-cell>
          <mat-cell>c</mat-cell>
        </mat-row>
      </mat-table-->
      <hr>
      <div class="row justify-content-center">
        <button class="col-3" color="primary" mat-raised-button type="submit"> Save Book</button>
      </div>

    </mat-card-content>
  </mat-card>
</div>

